#header{
	-fx-font-size: 23pt;
	-fx-font-family: "Segoe UI Semibold";
}

#headerTesting{
	-fx-font-size: 18pt;
	-fx-font-family: "Segoe UI Semibold";
}

#pane{
    -fx-background-image: url("Images/FileCard.png");
    -fx-background-color: derive(#FFA70D,0%);
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 400 400;
    -fx-background-position: 12.5% 50%;
    -fx-alignment: center;
}

#pane2{
    -fx-background-color: derive(#FFA70D,0%);
    -fx-alignment: center;
}

#paneTabPane{
    -fx-background-color: derive(#FFA70D,0%);
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 400 400;
    -fx-background-position: 12.5% 50%;
    -fx-alignment: center center;
}

#button{
	-fx-background-color: linear-gradient(#99d6ff, #4dc3ff /* #61a2b1*/);		/* #fa4518 orange */ /*#00cc44 green */
	-fx-border: solid;
	-fx-color: white;
	-fx-padding: 15px 32px;
	-fx-text-align: center;
	-fx-text-decoration: none;
	-fx-opacity: 0.9;
	-fx-transition: 0.3s;
	-fx-font-size: 16px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#button:disabled{
	-fx-background-color: linear-gradient(#e6e6ff, #666666);
}

#button:hover{
	-fx-opacity: 1;
}

#buttonSettingsNavigation{
	-fx-background-color: linear-gradient(#99d6ff, #4dc3ff);
	-fx-text-align: center;
	-fx-opacity:0.9;
	-fx-transition:0.3s;
	-fx-font-size: 15px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonSettingsNavigation:disabled{
	-fx-background-color: linear-gradient(#e6e6ff, #666666);
}

#buttonSettingsNavigation:hover{
	-fx-opacity: 1;
}

#buttonSettings{
	-fx-background-color: linear-gradient(#99d6ff, #4dc3ff);
	-fx-text-align: center;
	-fx-opacity:0.9;
	-fx-transition:0.3s;
	-fx-font-size: 16px;
	-fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonSettings:disabled{
	-fx-background-color: linear-gradient(#e6e6ff, #666666);
}

#buttonSettings:hover{
	-fx-opacity: 1;
}


#buttonSettingsSmall{
	-fx-background-color: linear-gradient(#99d6ff, #4dc3ff);
	-fx-opacity:0.9;
	-fx-transition:0.3s;
	-fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonSettingsSmall:disabled{
	-fx-background-color: linear-gradient(#e6e6ff, #666666);
}

#buttonSettingsSmall:hover{
	-fx-opacity: 1;
}


#buttonEditFileCards{
	-fx-background-color: linear-gradient(#99d6ff, #4dc3ff);
	-fx-opacity:0.9;
	-fx-transition:0.3s;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#buttonEditFileCards:disabled{
	-fx-background-color: linear-gradient(#e6e6ff, #666666);
}

#buttonEditFileCards:hover{
	-fx-opacity: 1;
}

.combo-box-base{
	-fx-font-size: 12 pt;
	-fx-font-family: "Segoe UI Semibold";
}

.table-view .column-header-background .label{
	-fx-text-fill: black;
	-fx-font-family: "Segoe UI Semibold";
}

.label{
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: beige;
	-fx-opacity: 0.9;
}

.text-field{
	-fx-font-size: 12pt;
	-fy-font-family: "Segoe UI Semibold";
}


/*TabPane*/


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
